.site_title {
  text-decoration: none;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
}

header h1, header h2 {
  text-align: center;
}

.table-container {
  overflow-x: auto;
}

.pagination, footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}